
  <h2>{{title}}</h2>
  <div  id="wrapper">
  <label for="filter">Filter by name:</label>
  <input  type="text" [(ngModel)]="filterData" id="filter" >
</div>
  <div id="table">
    <table class="table table-bordered" *ngFor="let student of filterStudents()">
      <tr>
        <td>Ime: {{student.ime}}</td>
      </tr>
      <tr>
        <td>Prezime:  {{student.prezime}} </td>
      </tr>
      <tr>
        <td>Indeks:  {{student.broj_indeksa}}</td>
      </tr>
      <tr>
        <button class="btn btn-secondary" (click)="editedStudent=student"> Edit</button>
      </tr>
    </table>

    <h3>Edit student</h3>
    <div id="editing-student" *ngIf="editedStudent!=null">
      <label for="ime">Ime:</label>
      <input type="text" id="ime" [(ngModel)]="editedStudent.ime">
      <label for="prezime">Prezime:</label>
      <input type="text" id="prezime" [(ngModel)]="editedStudent.prezime">
      <label for="broj_indeksa">Broj indeksa:</label>
      <input type="text" id="broj_indeksa" [(ngModel)]="editedStudent.broj_indeksa">

      <button class="btn btn-secondary" (click)="saveChanges()"> Save </button>
    </div>
  </div>
